$breakpoint-sm: 576px; //mobile devices
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$primary-color: #14B8A6;
$secondary-color: #14b8a587;
$tertiary-color: #bdbdbd;
$success-color: #198754;
$dark-color: #252525;
$danger-color: #dc3545;
$info-color: #139b9b;
$warning-color: #6b6b6b;
$gray-color: #d9d9d9;
$transparent-color: transparent;
$white: #fff;

$border-radius: 10px;
