@use './utils' as *;
@use './components/' as *;

.bottom-90 {
  bottom: -90% !important;
}

.react-datepicker-popper {
  z-index: 1000 !important;
}

._mt-0 {
  margin-top: 0 !important;
}

a {
  color: $primary-color !important;
}
