/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./node_modules/simplebar-react/dist/simplebar.min.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
[data-simplebar]{position:relative;flex-direction:column;flex-wrap:wrap;justify-content:flex-start;align-content:flex-start;align-items:flex-start}.simplebar-wrapper{overflow:hidden;width:inherit;height:inherit;max-width:inherit;max-height:inherit}.simplebar-mask{direction:inherit;position:absolute;overflow:hidden;padding:0;margin:0;left:0;top:0;bottom:0;right:0;width:auto!important;height:auto!important;z-index:0}.simplebar-offset{direction:inherit!important;box-sizing:inherit!important;resize:none!important;position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;-webkit-overflow-scrolling:touch}.simplebar-content-wrapper{direction:inherit;box-sizing:border-box!important;position:relative;display:block;height:100%;width:auto;max-width:100%;max-height:100%;overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.simplebar-content-wrapper::-webkit-scrollbar,.simplebar-hide-scrollbar::-webkit-scrollbar{display:none;width:0;height:0}.simplebar-content:after,.simplebar-content:before{content:' ';display:table}.simplebar-placeholder{max-height:100%;max-width:100%;width:100%;pointer-events:none}.simplebar-height-auto-observer-wrapper{box-sizing:inherit!important;height:100%;width:100%;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;flex-grow:inherit;flex-shrink:0;flex-basis:0}.simplebar-height-auto-observer{box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1}.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;pointer-events:none;overflow:hidden}[data-simplebar].simplebar-dragging{pointer-events:none;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}[data-simplebar].simplebar-dragging .simplebar-content{pointer-events:none;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}[data-simplebar].simplebar-dragging .simplebar-track{pointer-events:all}.simplebar-scrollbar{position:absolute;left:0;right:0;min-height:10px}.simplebar-scrollbar:before{position:absolute;content:'';background:#000;border-radius:7px;left:2px;right:2px;opacity:0;transition:opacity .2s .5s linear}.simplebar-scrollbar.simplebar-visible:before{opacity:.5;transition-delay:0s;transition-duration:0s}.simplebar-track.simplebar-vertical{top:0;width:11px}.simplebar-scrollbar:before{top:2px;bottom:2px;left:2px;right:2px}.simplebar-track.simplebar-horizontal{left:0;height:11px}.simplebar-track.simplebar-horizontal .simplebar-scrollbar{right:auto;left:0;top:0;bottom:0;min-height:0;min-width:10px;width:auto}[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical{right:auto;left:0}.simplebar-dummy-scrollbar-size{direction:rtl;position:fixed;opacity:0;visibility:hidden;height:500px;width:500px;overflow-y:hidden;overflow-x:scroll;-ms-overflow-style:scrollbar!important}.simplebar-dummy-scrollbar-size>div{width:200%;height:200%;margin:10px 0}.simplebar-hide-scrollbar{position:fixed;left:0;visibility:hidden;overflow-y:scroll;scrollbar-width:none;-ms-overflow-style:none}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/@ui/components/Button/button.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.button_button__95Q7v {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: #fff;
  transition: 350ms all ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.button_button__95Q7v:disabled {
  background-color: rgba(114, 135, 242, 0.85);
  cursor: not-allowed;
}

.button_Anchor__oNV0s,
.button_link__L1mAU {
  background-color: transparent !important;
  border: none;
  min-width: auto;
  height: auto;
  text-decoration: none;
  padding: 0px !important;
  text-align: left;
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  transition: 350ms all ease;
  font-family: "Be Vietnam", sans-serif !important;
  font-size: 14px !important;
}
.button_Anchor__oNV0s :disabled,
.button_link__L1mAU :disabled {
  color: red !important;
  background-color: red;
}
.button_Anchor__oNV0s:hover,
.button_link__L1mAU:hover {
  text-decoration: underline;
}
.button_Anchor__oNV0s span,
.button_link__L1mAU span {
  color: #4951ed;
  font-size: 14px !important;
}
.button_Anchor__oNV0s span:hover,
.button_link__L1mAU span:hover {
  text-decoration: underline;
}

.button_Primary__el_pg {
  background-color: #4951ed;
  position: relative;
}
.button_Primary__el_pg:hover:not([disabled]) {
  background-color: rgba(73, 81, 237, 0.9);
}

.button_PrimaryOutline__xGIkb {
  background-color: transparent;
  border: 1px solid #4951ed;
}
.button_PrimaryOutline__xGIkb span {
  color: #4951ed !important;
}
.button_PrimaryOutline__xGIkb:hover span {
  color: #ffffff !important;
}
.button_PrimaryOutline__xGIkb:hover:not([disabled]) {
  background-color: #4951ed;
}

.button_DangerOutline__7H_eL {
  background-color: transparent;
  border: 1px solid #ff0000;
}
.button_DangerOutline__7H_eL span {
  color: #ff0000 !important;
}
.button_DangerOutline__7H_eL:hover {
  border: 1px solid #ff0000;
}
.button_DangerOutline__7H_eL:hover span {
  color: #ffffff !important;
}
.button_DangerOutline__7H_eL:hover:not([disabled]) {
  background-color: #ff0000;
}

.button_SecondaryOutline__w_FQY {
  background-color: transparent;
  border: 1px solid #bdbdbd;
}
.button_SecondaryOutline__w_FQY span {
  color: #777777 !important;
}
.button_SecondaryOutline__w_FQY:hover {
  border: 1px solid #bdbdbd;
}
.button_SecondaryOutline__w_FQY:hover span {
  color: #ffffff !important;
}
.button_SecondaryOutline__w_FQY:hover:not([disabled]) {
  background-color: #bdbdbd;
}

.button_Secondary__USWdj {
  color: #4951ed;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button_Secondary__USWdj:hover:not([disabled]) {
  color: white;
  background-color: rgb(23, 57, 109);
}

.button_Success__rH8hu {
  background-color: #198754;
}
.button_Success__rH8hu:hover:not([disabled]) {
  background-color: rgba(25, 135, 84, 0.9);
}

.button_Danger__6gqKR {
  background-color: #ff0000;
}
.button_Danger__6gqKR:hover:not([disabled]) {
  background-color: rgba(220, 53, 70, 0.9);
}

.button_AnchorDanger__9ZVgP {
  background-color: transparent !important;
  border: none;
  min-width: auto;
  height: auto;
  text-decoration: none;
  padding: 0px !important;
  text-align: left;
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  transition: 350ms all ease;
  font-family: "Be Vietnam", sans-serif !important;
  font-size: 14px !important;
}
.button_AnchorDanger__9ZVgP :disabled {
  color: red !important;
  background-color: red;
}
.button_AnchorDanger__9ZVgP:hover {
  text-decoration: underline;
}
.button_AnchorDanger__9ZVgP span {
  color: #ff0000;
  font-size: 14px !important;
}
.button_AnchorDanger__9ZVgP span:hover {
  text-decoration: underline;
}

.button_Warning__5WCbT {
  background-color: #6b6b6b;
}
.button_Warning__5WCbT:hover:not([disabled]) {
  background-color: rgba(255, 193, 7, 0.9);
}

.button_Action__luY_z {
  color: #484848;
  background-color: #d9d9d9;
}
.button_Action__luY_z:hover:not([disabled]) {
  background-color: rgba(0, 0, 0, 0.2);
}
.button_Action__luY_z span {
  color: #484848;
}

.button_info__gWrnl {
  color: #139b9b !important;
}

.button_danger__fEwEF {
  color: #ff0000 !important;
}

.button_success__XPDES {
  color: #198754 !important;
}

.button_Small__SpKak {
  padding: 12px 12px;
}
.button_Small__SpKak span {
  font-size: 0.75rem;
}

.button_XSmall___yZoc {
  padding: 5px 18px;
}
.button_XSmall___yZoc span {
  font-size: 12px;
}

.button_Medium__fC__q {
  padding: 14px 20px;
}
.button_Medium__fC__q span {
  font-size: 14px;
}

.button_Large__PV2Lf {
  padding: 1.063rem 0.6rem;
}
.button_Large__PV2Lf span {
  font-size: 16px;
}

.button_disabled__6__iH {
  cursor: not-allowed;
}
.button_disabled__6__iH:hover {
  text-decoration: none !important;
}

.button_white__c8e7v {
  color: #ffffff !important;
}

.button_iconButton__FYCs0 {
  border: 1px solid #ebf0ed;
  background-color: #fafafa;
  border-radius: 10px;
  height: 36px;
  width: 36px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/@ui/components/Modal/modal.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal_modalHead__APp4f {
  position: relative;
  padding: 20px 30px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}

.modal_modalBody__hpGwl {
  padding: 12px 30px 12px 30px;
}

.modal_modalFoot__pwznh {
  padding: 20px 15px;
}

.modal_title__jh4te {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.modal_close__mFHEd {
  background-color: #fff !important;
  position: absolute;
  width: 35px;
  height: 35px;
  top: -35px;
  right: -25px;
  border-radius: 50%;
  padding: 6px;
  color: #161616 !important;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_close__mFHEd span {
  font-size: 20px;
  color: #161616;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/@ui/components/Flex/flex.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.flex_flex__pOD_1 {
  display: flex;
}

.flex_inline__zpSZ0 {
  display: inline-flex;
}

.flex_row__6nkse {
  flex-direction: row;
}

.flex_rReverse__pqG7G {
  flex-direction: row-reverse;
}

.flex_column__j5mEM {
  flex-direction: column;
}

.flex_cReverse__vR_0_ {
  flex-direction: column-reverse;
}

.flex_fill__itsvH {
  flex: 1 1 auto !important;
}

.flex_nowrap__CyTvz {
  flex-wrap: nowrap;
}

.flex_wrap__eZyLq {
  flex-wrap: wrap;
}

.flex_wrapReverse__sUZUE {
  flex-wrap: wrap-reverse;
}

.flex_justifyStart__n_zUv {
  justify-content: start;
}

.flex_justifyEnd__61DAO {
  justify-content: end;
}

.flex_justifyFlexStart__t3Xk9 {
  justify-content: flex-start;
}

.flex_justifyFlexEnd__N5DPF {
  justify-content: flex-end;
}

.flex_justifyCenter__b_oaw {
  justify-content: center;
}

.flex_justifyBetween__XoOVv {
  justify-content: space-between;
}

.flex_justifyAround__yndLC {
  justify-content: space-around;
}

.flex_itemsStart__HkKOq {
  align-items: flex-start;
}

.flex_itemsEnd__EXV_K {
  align-items: flex-end;
}

.flex_itemsCenter__zkZRv {
  align-items: center;
}

.flex_itemsBaseline__o3eKn {
  align-items: baseline;
}

.flex_itemsStretch__Ktegl {
  align-items: stretch;
}

.flex_selfStart__62iun {
  align-self: flex-start;
}

.flex_selfEnd__7kRYb {
  align-self: flex-end;
}

.flex_selfCenter__GVJyQ {
  align-self: center;
}

.flex_selfBaseline__XddB_ {
  align-self: baseline;
}

.flex_selfStretch__NhZAy {
  align-self: stretch;
}

.flex_contentStart__3flbN {
  align-content: flex-start;
}

.flex_contentEnd__HX5My {
  align-content: flex-end;
}

.flex_contentCenter__2Ie9q {
  align-content: center;
}

.flex_contentAround__lMpvd {
  align-content: space-around;
}

.flex_contentStretch__xANmF {
  align-content: stretch;
}

.flex_equal__KPVNl {
  flex-grow: 1;
  flex-basis: 0;
}

.flex_double__KGEQG {
  flex-grow: 2;
  flex-basis: 0;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/@ui/components/LoadingOverlay/loadingOverlay.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loadingOverlay_loaderContainer__Km4Vh {
  border-radius: 11px;
  backdrop-filter: saturate(180%) blur(3px);
  background-color: rgba(255, 255, 255, 0.5803921569);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #17396d;
  font-weight: bold;
}
